<table>
    <tr>
    <td><button (click)="clicked(0)"><app-single-pool [input]="pool[0]"></app-single-pool></button></td>
    <td><button (click)="clicked(1)"><app-single-pool [input]="pool[1]"></app-single-pool ></button></td>
    <td><button (click)="clicked(2)"><app-single-pool [input]="pool[2]"></app-single-pool></button></td>
    </tr>
    <tr>
    <td><button (click)="clicked(3)"><app-single-pool [input]="pool[3]"></app-single-pool></button></td>
    <td><button (click)="clicked(4)"><app-single-pool [input]="pool[4]"></app-single-pool></button></td>
    <td><button (click)="clicked(5)"><app-single-pool [input]="pool[5]"></app-single-pool></button></td>
    </tr>
    <tr>
    <td><button (click)="clicked(6)"><app-single-pool [input]="pool[6]"></app-single-pool></button></td>
    <td><button (click)="clicked(7)"><app-single-pool [input]="pool[7]"></app-single-pool></button></td>
    <td><button (click)="clicked(8)"><app-single-pool [input]="pool[8]"></app-single-pool></button></td>
    </tr>
</table>
<br><br>
<button class="button" (click)="refresh()">Start new Game</button>